{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=6 , initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel = 'stylesheet' href = "{% static 'accounts/css/account_styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

    {% block head %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header >         
        <div class = 'icon'>
            <a href="{% url 'process_list' %}" style = "text-decoration: none;">&#10006;</a> {% comment %} redirect to some landing page {% endcomment %}
        </div>
  </header>

    <main>
        <div class = 'container'>
            <div class = 'left-container'>
                <div class = 'left-text'>
                    {% block left %}

                    {% endblock %}
                </div>
            </div>
            <div class = 'right-container'>
                <div class = "right-text">
                    {% block right %}

                    {% endblock %}
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>