{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'processes/css/base_styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <script src = "https://unpkg.com/htmx.org@1.9.11"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div class = "nav-bar">

        <a href="{% url 'process_list' %}"><img src="{% static 'processes/images/newlogo.png' %}" alt="logo"> </a>
        <div class="icons">
            <a href="{% url 'process_list' %}"><i class="fa-solid fa-house" style="font-size:24px"></i></a>
            <a href="#" id="contact"><i class="fa-regular fa-circle-question" style="font-size:24px"></i></a>
            {% block notification_login %}
                {% comment %} <a href="{% url 'notification_page' %}"><i class="fa-solid fa-bell" style="font-size:24px"></i></a> {% endcomment %}
            {% endblock %}

        </div>
        <div class="search">
            {% block search %}
            {% endblock %} 
        </div>
    </div>
    <div class="left-section">
        {% block left-section %}
        {% endblock %}

    </div>
    <div class="right-section">
        <div class="main-content" >
            {% block main-content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>