{% extends "processes/base_process.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'processes/css/detail_style.css' %}">
    <title>Process detail</title>
{% endblock %}


{% block main-content %}
    <div class="process-section">
        <div class="title">
            <div class="profile">
                {% if process.image %}
                    <img src="{{ process.image.url }}" alt="Post Image" class="post-image">
                {% else %}
                    <i class="fa-solid fa-user"></i>
                {% endif %}
                <p>{{ process.created_by.first_name }}</p>
            </div>
            <h2>{{ process.title }}</h2>
            <p>⭐{{ process.avg_rating }}</p>
        </div>
        <hr>
        <p id="process-description">{{ process.description }}</p>
    </div>
    
    {% if process.steps.all %}
        <h2 id="step-text">Steps</h2>
    {% else %}
        <h2 id="step-text">No Steps!</h2>
    {% endif %}
        {% for val in process.steps.all %}
            <div class="steps-section">

                <p id="order_number">STEP {{ val.order_number }}</p>
                <p id="step_name">{{ val.step_name }}</p>
                <p id="description">🔎 {{ val.description }}</p>
            </div>

        {% endfor %}
    <hr style="margin-bottom:1rem">
    <h3 style="font-family: sans-serif; display:grid; justify-content:center;">Rate this process </h3>

    <form method="POST" action="{% url 'process_list' %}" class="stars">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- Rating -->
        <div class="rating">
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5" title="5 stars">&#9733;</label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4" title="4 stars">&#9733;</label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3" title="3 stars">&#9733;</label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2" title="2 stars">&#9733;</label>
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1" title="1 star">&#9733;</label>
        </div>

        <!-- Comment -->
        {{ form.comment.errors }}
        <textarea class="comment" name="comment" placeholder="Write your comment...">{{ form.comment.value }}</textarea>

        <!-- Submit -->
        <div class="submit">
            <button type="submit" class = "submit_button">Submit</button>
        </div>
    </form>
    
    <hr style="margin-bottom:2rem">



{% endblock %}