{% load static %}

{% for process in page_obj %}
<div class="post">
    <div class="post-header">
        <img src="{% static 'processes/images/profile.png' %}" alt="Profile">
        <div>
            <h4 class="post-username">{{ process.created_by.first_name }}</h4>
            <span class="post-time">{{ process.created_at|date:"M d, Y H:i" }}</span>
        </div>
    </div>
    <div class="post-body">
        <h3 class="post-title">{{ process.title }}</h3>
        <p class="post-description">
            {{ process.description }}
        </p>
        {% if process.image %}
            <img src="{{ process.image.url }}" alt="Post Image" class="post-image">
        {% endif %}
        <a style="text-decoration:none;" href = "{% url 'process_detail' process.pk %}">more...</a>
    </div>
</div>
{% endfor %}

{% if page_obj.has_next %}
    <div
        hx-get="{% url 'process_list' %}?page={{ page_obj.next_page_number }}"
        hx-trigger="intersect once threshold:0.98"
        hx-swap="outerHTML"
        hx-target="this"
        class="loading-indicator"
        hx-indicator=".loading-indicator">
        <i class="fa-solid fa-spinner fa-spin" style="font-size:50px"></i>
    </div>
{% endif %}