{% extends "processes/base_process.html" %}
{% load static %}

{% block head %}
    <link rel = 'stylesheet' href = "{% static 'accounts/css/passwordforms_style.css' %}">
    <title> Change password </title>
{% endblock %}

{% block main-content %}
    <h1>Change Your Password </h1>
    <form method="post">
        {% csrf_token %}
        <div class = "form-container">

            <div class = "form-input-boxes">
                <p>Current Password: </p>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>

            <div class = "form-input-boxes">
                <p>New Password: </p>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            
            <div class = "form-input-boxes">
                <p>Confirm New Password:</p>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            
            <div>
                <button type="submit" class = "submit-button">Change password</button>
            </div>
        </div>
    </form>
{% endblock %}