{% extends "processes/base_process.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'processes/css/success_style.css'%}">
    <title> Change password </title>
{% endblock %}

{% block main-content %}
    <div class="success">
        <h2> Check your Email </h2> 
        <p> If an account exists with that email, you will recieve a reset link shortly. </p>
    </div>
    <div class="navigate">
        <a href="{% url 'process_list' %}"><i class="fa-solid fa-house" style="font-size:24px"></i><p>Go to Home</p></a>
    </div>
{% endblock %}