{% extends "processes/base_process.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'processes/css/success_style.css'%}">
    <title> Change password </title>
{% endblock %}

{% block main-content %}
    <div class="success">
        <h1>Password Reseted Successfully🎉</h1>
    </div>
    <div class="navigate">
        <a href="{% url 'login' %}"><i class="fa fa-sign-in" style="font-size:24px" aria-hidden="true"></i><p>Login</p></a>
        <a href="{% url 'process_list' %}"><i class="fa-solid fa-house" style="font-size:24px"></i><p>Go to Home</p></a>
    </div>
{% endblock %}