{% extends "processes/base_process.html" %}
{% load static %}

{% block head %}
    <link rel = 'stylesheet' href = "{% static 'accounts/css/passwordforms_style.css' %}">
    <title> Reset Password </title>
{% endblock %}

{% block main-content %}
    <h1>Forgot Your Password?</h1>
    <form method="post">
        {% csrf_token %}

        <div class = "form-container">
            <div class = "form-input-boxes">
                <p>Enter your email: </p>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div>
                <button type="submit" class = "submit-button">Send Reset Link</button>
            </div>
        </div>
    </form>
{% endblock %}