html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f7f7f7;
    /* height: 100%; */
    overflow: hidden; /* prevent whole page scroll */
}
/* ============================== navigation bar ======================================================== */

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10dvh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(108, 102, 102, 0.2);

    z-index: 10; /* keep it above scrolling content */
}

.nav-bar img {
    padding: 5%;
    height: 65px; /* prevents it from getting too big */
    width: 65px;
    border-radius: 50%;
    object-fit: cover;
}
/* 1234567890--09876543567890-78trfygvbkju9y ghjhhb,jvj */
.nav-bar .search{
    padding-right: 5%;
}
.nav-bar .search input{
    padding: 10px;
    border-radius: 40px;
}
/* rtyuhrtygfrjtujghe5e46568709puygfcxvbn87675e8976tygh */

.nav-bar .icons {
    padding: 5%;
    display: flex;
    gap: 3rem; /* spacing between icons */
}

.nav-bar .icons i {    /* change it to pointer when the pointer is placed on the icons */
    color: black;  /* icons color */
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav-bar .icons i:hover {
    transform: scale(1.2);
    color: #0073e6; /* highlight color when hovered */
}
/* ============================== navigation bar ======================================================== */


.left-section {
    overflow-x: hidden;
    position: fixed;
    top: 10dvh;   /* starts below the navbar */
    left: 0;
    width: 25%;
    height: 90dvh;
    background-color:#f7f7f7;
    overflow-y: auto; /* optional if profile is long */
    z-index: 5;
}

.right-section {
    position: absolute;
    padding-top: 10dvh;
    top: 0;      /* start at very top (under nav-bar) */
    left: 25%;   /* push to the right of profile */
    right: 0;
    bottom: 0;

    width: 75%;
    /* padding: 1rem; */
    background-color: #f7f7f7;

    overflow-y: auto; /*this part scrolls
    z-index: 1;       /* keep it beneath the navbar */
}

.main-content{
    max-width: 700px;
    background-color: #f7f7f7;

}