html, body,main {
  height: 100%;
  margin: 0; /* Remove default browser margin */
  overflow: hidden; /* This prevents scrolling */

}

.icon{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    padding-top: 4%;
    padding-right: 7%;
}

.container{
    height: 75%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 50px;
}

.left-container {
    width: 50%;
    border-radius: 50px 40% 40% 50px;
    background: linear-gradient(to right, #7081d1, #4e25ac);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text{
    color:white;
}

.right-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============================================ */
.form-group {
  display: grid;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background: #f1f1f1ff;
}

.submit-button{
  display: flex;
  justify-content:center;
}

.left-button {
  text-decoration: none;
  color: white;
  padding: 7px 30px;
  margin: 10px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #7563e6ff, #4630d1);
}

.left-button:hover{
    background:linear-gradient(to right, #0073e6, #a193fb);
}

.right-button {
  color: white;
  padding: 7px 30px;
  margin: 10px;
  border: 2px solid #7563e6ff;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #7563e6ff, #4630d1);
}

.right-button:hover{
    background:linear-gradient(to right, rgb(161, 147, 251), #0073e6);
}

.non-field-errors{
  max-width: 250px;
  color:red;
}
/* ============================================ */

@media only screen and (max-width: 960px) {
  .container{
    margin-left: 2%;
    margin-right: 2%;
  }
}

