.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 1rem;
    padding: 2rem 1rem;

    background-color: rgba(39, 252, 19, 0.1);
    border: 2px solid rgb(132, 252, 118);
    border-radius: 20px;
;
}
.form-input-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.form-input-boxes input{
    padding: 10px;
    width: 60%;
    max-height: 2rem;

    border: 1px solid black;
    border-radius: 5px;

}
.form-input-boxes p{

    font-family: Arial, sans-serif;
    font-size: 16px;
}

.submit-button{
    
    color: white;
    padding: 7px 30px;
    margin: 10px;
    border: 2px solid #7563e6ff;
    border-radius: 5px;

    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    background: linear-gradient(to right, #7563e6ff, #4630d1);
}

.submit-button:hover{
    background:linear-gradient(to right, rgb(161, 147, 251), #0073e6);
}