html, body,main {
  height: 100%;
  margin: 0; /* Remove default browser margin */
  overflow: hidden; /* This prevents scrolling */
  height: 100%;

}

header{
    
}
.icon{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    padding-top: 4%;
    padding-right: 7%;
}


.container{
    height: 75%;

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
    margin-bottom: 6%;

    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 10%;

}

.left-container {
    width: 50%;
    border-radius: 10% 40% 40% 10%;
    background: linear-gradient(to right, #7081d1, #512da8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text{
    color:white;
}

.right-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


@media only screen and (max-width: 960px) {
  .container{
    margin-left: 2%;
    margin-right: 2%;
  }
}

